@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&family=Open+Sans:wght@300&family=Roboto+Slab&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body,
html {
    background-color: #F0F0F0;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #232B33;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

article {
    padding-top: 150px;
}

header>h1 {
    padding: 30px;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-family: 'Merriweather Sans', sans-serif; 
}

header a {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.material-symbols-outlined {
    text-align: start;
}
    

menu {
    display: none;
}

menu ul {
    list-style-type: none;
}

menu>ul>li>a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #232B33;
    border-top: 2px solid rgba(80, 80, 80, 0.466);
}

menu>ul>li>a:hover {
    background-color: #464a50;
}

main { 
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 10px;
    min-width: 280px;
    max-width: 800px;
    margin: auto;
    
}

img {
    width: 100%;
}

article>h2 {
    padding-bottom: 20px;
    font-size: 2em;
}

article>p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

i#burguer {
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover {
    background-color: #1B1F23;
}

figure {
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    margin: 30px;
    padding: 15px;
    max-width: 100%;
    box-sizing: border-box;

}

figure img {
    width: 100%;
}

figcaption {
    margin-top: 10px;
    color: black;
}

div.video {
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.tweet-fallen {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 20px 50px;
  }

.tweet-sk {
    width: 70%;
    margin: 0 auto;
    padding: 20px 20px 50px;
}

.tweet {
    width: 70%;
    margin: 0 auto;
    padding: 20px 20px 50px;
}

.hltv {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    background-color: #232D38;
    margin: 0 auto;
    overflow-x: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
    width: 90%;
}

caption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
}

div.table2 {
    margin: 0 auto; 
}

th, td {
    border: 1px solid rgba(255, 255, 255, 0.753);
    padding: 10px;
    text-align: left;
    color: #a4bed6;
}

th {
    cursor: pointer;
}

th img {
    width: 15px;
    padding-right: 10px;
    text-align: left;
}

caption {
    margin: 30px;
}

tbody > tr:nth-child(2n) {
    background-color: #2D3844;
}

td.frag {
    color: rgb(120, 177, 5);
}

td.Nfrag {
    color: rgba(214, 12, 12, 0.705);
}

#btnTop {
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.986);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow {
    border: solid 1px #ffffff;
    border-width: 0px 7px 7px 0px;
    padding: 4px;
    display: inline-block;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}